@use "color";
@use "font";
@use "breakpoint";


$breakpoints: (
    sp:"width < 768px",
    pc:"width >= 768px",
);

@mixin mq($breakpoint: pc) {
    @media (map.get($breakpoints, $breakpoint)) {
        @content;
    }
}

body{
  font-family: "Josefin Sans", "Noto Sans JP", sans-serif;
    letter-spacing: 0.05em;
    color: color.$color-text;

    @include breakpoint.mq(pc) {
        letter-spacing: 0.05em;
        color: color.$color-text;
    }
}

img {
    width: 100%;
}

/* header */
.header{
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(241, 238, 228, 0.25);
    width: 100%;
    text-align: center;
    padding:12px;

    @include breakpoint.mq(pc) {
        padding: 16px;
    }

        &-logo {
            width: 200px;
            margin: 0 auto;

            @include breakpoint.mq(pc) {
                margin: 0;
            }
        }

        &-inner {
            @include breakpoint.mq(pc) {
                max-width: 1080px;
                padding: 0 40px;
                margin: 0 auto;
                display:flex;
                justify-content: space-between;
            }
        }

        &-nav {
            margin-top:10px;

                &-list {
                    display:flex;
                    justify-content: center;
                    gap:20px;

                    @include breakpoint.mq(pc) {
                        gap:40px;
                    }
                }
                &-link {
                    color: color.$color-white;

                    @include breakpoint.mq(pc) {
                        transition: opacity 0.3s;
                    }

                    &:hover{
                        @include breakpoint.mq(pc) {
                            opacity: 0.7s;
                        }
                    }
                }
                &-item.drawer{
                    color: color.$color-white;
                    cursor: pointer;
                    position: relative;
                }
        }
}

.drawer-list{
    display:none;
    background-color: rgb(60 48 30 /.6);
    position: absolute;
    justify-content: center;
    line-height: 2;
    margin-top: 17px;
    margin-bottom:5px;
    width: 70px;
    left: -12px;
    padding-top:20px;

}

/* 共通クラス */
.inner {
    padding:0 40px;

    @include breakpoint.mq(pc) {
        max-width: 1080px;
        padding: 0 40px;
        margin: 0 auto;
    }
}

.section-heading {
    text-align: center;
    margin-bottom: 40px;

    &-l {
    color: color.$color-white;
    }

    &-main {
        font-size: 40px;
        display: block;

        @include breakpoint.mq(pc) {
            font-size: 64px;
        }
    }

    &-sub {
    font-size: font.$font-size-sm;
    display: block;
    }
}
/* ファーストビュー */
 .fv-picture img {
    width: 100%;
 }

/* aboutセクション */
.about {
    padding: 40px 0;
    background-color:#f1eee4;

    @include breakpoint.mq(pc) {
        padding: 100px 0;
    }

    &-contents {
        font-size: font.$font-size-md;

        @include breakpoint.mq(pc) {
            display: flex;
            gap: 40px;
            align-items: center;
        }
    }

    &-text {
        font-size: font.$font-size-md;
        line-height: 2;

        @include breakpoint.mq(pc) {
            font-size: 15px;
        }

        & + & {
            margin-top: 16px;

            @include breakpoint.mq(pc) {
                margin-top: 30px;
            }
        }

        &-contents {
            margin-top: 20px;

            @include breakpoint.mq(pc) {
                margin-top: 0px;
            }
        }

        &-img {
            @include breakpoint.mq(pc) {
                width: 300px;
            }
        }
    }
}

/* menuセクション */
.menu {
    background-color:#f1eee4;
    padding: 80px 0;

    @include breakpoint.mq(pc) {
        padding: 0 0 100px;
    }

        &-list {
            @include breakpoint.mq(pc) {
                display:flex;
                gap: 20px;
            }
        }

        &-item {
            & + & {
                margin-top: 62px;

                @include breakpoint.mq(pc) {
                    margin-top: 0;
                }
            }
        }

        &-text-contents {
            text-align: center;
            padding: 16px 10px;
        }

        &-name-main {
            font-size: font.$font-size-lg;
            display: block;
        }

        &-name-sub {
            color: #a98c5f;
            font-size: font.$font-size-sm;
            display: block;
            margin-top: 8px;
        }

        &-text {
            font-size: font.$font-size-md;
            color: #a98c5f;
            margin-top: 16px;
        }

        &-img {
            cursor: pointer;
        }
}

.modal {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);

    &.is-open {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-img  {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 30%;
        max-height: 70%;
    }
}

body.modal-open {
    overflow: hidden !important;
}

/* shopセクション */
.shop{
    background-image: url(../img/sp/bg-shop.png);
    background-position: center;
    background-size: cover;
    padding: 80px 0;

    @include breakpoint.mq(pc) {
        background-image: url(../img/bg-shop.png);
        background-position: center;
        background-size: cover;
        padding: 60px 0;
    }


    &-inner {
        padding:0 20px;

        @include breakpoint.mq(pc) {
            max-width: 600px;
            margin: 0 auto;
        }
    }

    &-text {
        color: color.$color-white;
        text-align: center;
        font-size: font.$font-size-md;
        line-height: 2;
    }
}

.form {
    margin-top: 40px;

    @include breakpoint.mq(pc) {
        display: flex;
        gap: 20px;
    }

    &-input {
        width: 100%;
        border-radius: 4px;
        background-color: rgba(255,255,255,0.7);
        border: none;
        font-family: "Josefin Sans", "Noto Sans JP", sans-serif;
        padding : 14px;
    }

    &-submit {
        border-radius: 4px;
        border: none;
        font-family: "Josefin Sans", "Noto Sans JP", sans-serif;
        display:block;
        margin: 10px auto 0;
        width: 120px;
        padding: 12px 10px;
        color: color.$color-white;
        background-color: #a98c5f;

        @include breakpoint.mq(pc) {
            margin-top: 0;
            transition: opacity 0.3s;
        }

        &:hover{
            @include breakpoint.mq(pc) {
                opacity: 0.7s;
                cursor: pointer;
            }
        }
    }
}

/* footer */
.footer {
 background-color: color.$color-text;
 text-align: center;
 padding-top: 46px;
 color: color.$color-white;

    &-logo {
        width: 200px;
        margin: 0 auto;
    }

    &-text {
        font-size: font.$font-size-sm;

        @include breakpoint.mq(pc) {
            margin-top: 12px;
        }
    }

    &-nav-list {
        margin-top: 40px;
        display:flex;
        justify-content: center;
        gap: 20px;
        padding: 0 20px;

        @include breakpoint.mq(pc) {
            gap: 40px;
        }
    }

    &-nav-link-text {
        font-size: font.$font-size-sm;
        margin-top: 12px;
    }

    &-copy-wrapper {
        border-top: 1px solid rgba(241, 238, 228, 0.25);
        padding: 12px;
        margin-top: 46px;
    }

    &-copylight {
        font-size: font.$font-size-sm;
        padding: 12px;
        margin-top: 46px;

        @include breakpoint.mq(pc) {
            font-size: 13px;
        }
    }
}

.sns-img {
 width: 56px;
}

.scroll-up {
    position:fixed;
    right:20px;
    bottom:40px;
    padding: 15px 10px 15px 10px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: none;
}

/*  タブレット、pcサイズの表示 */
@media screen and (min-width: 768px) {
    .body {
        letter-spacing: 0.05em;
        color: color.$color-text;
    }
    .header {
        padding: 16px;
    }

    .header-logo {
        margin: 0;
    }

    .header-inner {
        max-width: 1080px;
        padding: 0 40px;
        margin: 0 auto;
        display:flex;
        justify-content: space-between;
    }

    .header-nav-list {
        gap: 40px;
    }

    .header-nav-link {
        transition: opacity 0.3s;
    }

    .header-nav-link:hover {
        opacity: 0.7;
    }

    .inner {
        max-width: 1080px;
        padding: 0 40px;
        margin: 0 auto;
    }

    .section-heading-main{
        font-size: 64px;
    }

    .about{
        padding: 100px 0;
    }

    .about-contents {
        display: flex;
        gap: 40px;
        align-items: center;
    }

    .about-text {
        font-size: 15px;
    }

    .about-text + .about-text {
        margin-top: 30px;
    }

    .about-text-contents {
        margin-top: 0;
    }

    .about-img {
        width: 300px;
    }

    .menu {
        padding: 0 0 100px;
    }

    .menu-list {
        display:flex;
        gap: 20px;
    }
    .menu-item + .menu-item {
        margin-top: 0;
    }

    .shop {
        background-image: url(../img/bg-shop.png);
        background-position: center;
        background-size: cover;
        padding: 60px 0;

    }

    .shop-inner {
        max-width: 600px;
        margin: 0 auto;
    }

    .form {
        display: flex;
        gap: 20px;
    }

    .form-submit {
        margin-top: 0;
        transition: opacity 0.3s;
    }

    .form-submit:hover {
        opacity: 0.7;
        cursor: pointer;
    }

    .footer-text {
        margin-top: 12px;
    }

    .footer-nav-list {
        gap: 40px;
    }

    .footer-copylight {
        font-size: 13px;
    }
}